.historical-trends {
  width: 100px;
  height: 100px;  
  backdrop-filter: blur(10px);
  background: rgba(20, 20, 28, 0.75);
  border: 1px solid rgba(20, 20, 28, 0.75);
  border-radius: 12px;
  color: white;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  